/* Don't touch this START */
.container {
  padding: 8px;
  border: 2px dotted lightblue;
}

.logo {
  min-width: 40px;
  min-height: 40px;
  border: 2px dotted turquoise;
}

.box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightcoral;
}

.inner-box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightgreen;
}

.inner-logo {
  min-width: 36px;
  min-height: 36px;
  border: 2px dotted turquoise;
}
/* Don't touch this END */

/* Write CSS Below Here */
/* Practice re-using classes */
/* Do not add any new classes or selectors */

.two-column-grid__expand-two {}

.three-column-grid {}

.three-column-grid__expand-two {}

.five-column-grid {}

.center-grid {}

.grid-in-grid-1 {}

.grid-in-grid-2 {}

.grid-madness {}
